flows-ubuntu.json
[
    {
        "id": "5d6cdfc2514b73b3",
        "type": "tab",
        "label": "UBUNTU SERVER",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "inject_node",
        "type": "inject",
        "z": "5d6cdfc2514b73b3",
        "name": "Poll Every 10 Seconds",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "fd9de0e41b8b22ad",
                "snmp_node"
            ]
        ]
    },
    {
        "id": "snmp_node",
        "type": "snmp",
        "z": "5d6cdfc2514b73b3",
        "host": "10.20.12.17",
        "version": "2c",
        "timeout": "",
        "community": "NetK@",
        "auth": "noAuthNoPriv",
        "oids": "1.3.6.1.4.1.2021.10.1.3.1,\n1.3.6.1.4.1.2021.4.5.0,\n1.3.6.1.4.1.2021.4.6.0\n\n",
        "name": "ERP-MASTER (Ubuntu Server)",
        "x": 470,
        "y": 100,
        "wires": [
            [
                "parse_metrics_node"
            ]
        ]
    },
    {
        "id": "debug_node",
        "type": "debug",
        "z": "5d6cdfc2514b73b3",
        "name": "Display System Metrics",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 100,
        "wires": []
    },
    {
        "id": "fd9de0e41b8b22ad",
        "type": "snmp walker",
        "z": "5d6cdfc2514b73b3",
        "host": "10.20.12.17",
        "version": "2c",
        "timeout": 5,
        "community": "NetK@",
        "auth": "noAuthNoPriv",
        "authprot": "MD5",
        "privprot": "DES",
        "oids": "1.3.6.1.2.1.25.2.3.1",
        "name": "ERP-MASTER (Ubuntu Server)",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "7c3541c2eea22466"
            ]
        ]
    },
    {
        "id": "parse_metrics_node",
        "type": "function",
        "z": "5d6cdfc2514b73b3",
        "name": "Parse Resources",
        "func": "let msgOut = {};\nlet results = msg.payload;\n\n//msgOut.cpu1mLoad = results[0].value;\n//msgOut.memTotalKBytes = results[1].value;\n//msgOut.memUsedKBytes = results[2].value;\n//msgOut.diskUtilPercent = results[3].value;\n\n// กรณี msg.payload เป็น Buffer เช่น <Buffer 30 2e 37 30>\nif (Buffer.isBuffer(results[0].value)) {\n    results[0].value = results[0].value.toString('ascii'); // แปลงเป็น \"0.70\"\n}\n\nmsgOut.cpu1mLoad = parseFloat(results[0].value);\nmsgOut.memTotalKBytes = results[1].value;\nmsgOut.memUsedKBytes = results[2].value;\nmsg.payload = msgOut;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 100,
        "wires": [
            [
                "debug_node"
            ]
        ]
    },
    {
        "id": "7c3541c2eea22466",
        "type": "function",
        "z": "5d6cdfc2514b73b3",
        "name": "Parse Resources",
        "func": "// Expects an array of objects from the SNMP node inside msg.payload\nconst varbinds = msg.payload;\nconst disks = {};\n\n// 1. Loop through all returned walk metrics and group by their suffix Index\nvarbinds.forEach(item => {\n    const oid = item.oid;\n    const value = item.value;\n    \n    // Extract the final index number from the OID string\n    const match = oid.match(/\\.(\\d+)$/);\n    if (!match) return;\n    const index = match[1];\n    \n    if (!disks[index]) {\n        disks[index] = {};\n    }\n    \n    // Map OIDs to clean object properties\n    if (oid.startsWith(\"1.3.6.1.2.1.25.2.3.1.3.\")) disks[index].descr = value;\n    if (oid.startsWith(\"1.3.6.1.2.1.25.2.3.1.4.\")) disks[index].allocUnit = Number(value);\n    if (oid.startsWith(\"1.3.6.1.2.1.25.2.3.1.5.\")) disks[index].sizeBlocks = Number(value);\n    if (oid.startsWith(\"1.3.6.1.2.1.25.2.3.1.6.\")) disks[index].usedBlocks = Number(value);\n});\n\nconst calculatedDisks = [];\n\n// 2. Compute true capacities and percentages\nfor (const index in disks) {\n    const d = disks[index];\n    \n    // Filter out memory buffers or invalid items that lack standard disk tracking \n    if (d.descr && d.sizeBlocks > 0 && d.allocUnit > 0) {\n        \n        if (Buffer.isBuffer(d.descr)) {\n            d.descr = d.descr.toString('ascii'); \n        }\n\n        // Skip physical RAM or Virtual memory buffers if you purely want hard drives\n        if (d.descr.toUpperCase().includes(\"MEMORY\") \n            || d.descr.includes(\"run/containerd\")\n        ) {\n            continue; \n        }\n\n        const totalBytes = d.sizeBlocks * d.allocUnit;\n        const usedBytes = d.usedBlocks * d.allocUnit;\n        \n        const totalGB = (totalBytes / Math.pow(1024, 3)).toFixed(2);\n        const usedGB = (usedBytes / Math.pow(1024, 3)).toFixed(2);\n        const freeGB = ((totalBytes - usedBytes) / Math.pow(1024, 3)).toFixed(2);\n        const utilPercent = ((d.usedBlocks / d.sizeBlocks) * 100).toFixed(1);\n\n        calculatedDisks.push({\n            diskIndex: index,\n            description: d.descr,\n            total_GB: Number(totalGB),\n            used_GB: Number(usedGB),\n            free_GB: Number(freeGB),\n            utilization_percent: Number(utilPercent)\n        });\n\n        /*var _totalGB = parseFloat(totalGB)\n        var _usedGB = parseFloat(usedGB)\n        var _freeGB = parseFloat(freeGB)\n\n        if (Number.isNaN(_totalGB)) { _totalGB =0;}\n        if (Number.isNaN(_usedGB)) { _usedGB = 0; }\n        if (Number.isNaN(_freeGB)) { _freeGB = 0; }\n\n        msgOut.totalGB += _totalGB;\n        msgOut.usedGB += _usedGB;\n        msgOut.freeGB += _freeGB;*/\n    }\n}\n\n// Output the structured disk utilization data array\nmsg.payload = calculatedDisks;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 180,
        "wires": [
            [
                "ac716f34fe18a9d8"
            ]
        ]
    },
    {
        "id": "ac716f34fe18a9d8",
        "type": "debug",
        "z": "5d6cdfc2514b73b3",
        "name": "Display System Metrics",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 180,
        "wires": []
    },
    {
        "id": "709dc66b63e2bec5",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-snmp": "2.1.0"
        }
    }
]